:root{
    --bg_pinkred: rgba(185, 20, 80, 1);
    --text: rgba(195, 53, 105, 1);

}




body{
    background-color:var(--bg_pinkred);
}

.mainContent{
    background-color: white;
    border-radius: 20px;
    margin: auto;
}

.priceContainer{
    padding: 40px 0;
    justify-content: space-around;
}
input , select{
    border: 1px solid var(--text);
    border-radius: 10px;
    
}
.pink{
    color:  var(--text);
 
}

.btn{
    display: block;
    padding-bottom: 20px;
    border-radius: 10px;
   
}

.genTicket{
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 15px;
}

.infoTicket{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.cardUtente{
    background-color: grey;
}

.containerDisnone{
    display: none;
    padding: 20px;
    padding-bottom: 60px;;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
}

.dBlock{
    display: block;
}