body{
    background-color: red;
}

.mainContent{
    background-color: white;
    border-radius: 20px;
    margin: auto;
}

.priceContainer{
    padding: 40px 0;
    justify-content: space-around;
}

.pink{
    color: pink;
 
}

.btn{
    display: block;
    padding-bottom: 20px;
    border-radius: 10px;

}

.genTicket{
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 15px;
}

.infoTicket{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.cardUtente{
    background-color: grey;
}

.containerDisnone{
    display: none;
    padding: 20px;
    padding-bottom: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}